<h2>メモ編集</h2>
<form method="post" action="/memos/<%= @id %>/edit">
  <label>タイトル</label>
  <input type= "text" name="title" value="<%= h(@title) %>">
  <label>内容</label>
  <textarea name="content"><%= h(@content) %></textarea>
  <input type="hidden" name="_method" value="PATCH">
  <input type= "submit" value="保存">
</form>
