<!DOCTYPE html>
<html lang="ja">
  <head>
    <mata charset="utf-8">
    <title>メモ</title>
    <link rel="stylesheet" href="/style.css" type='text/css'>
  </head>
  <body>
    <h1><a href="/memos">メモ</a></h1>
    <%= yield %>
  </body>
</html>
